<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/static/js/jquery-3.7.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/test.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/test.css}">
</head>
<body>
    <div class="container">
        <div class="container row justify-content-center">
            <div class="col-auto">
                <h1>Hello world here</h1>
                <div class="text-center">
                    <button class="btn btn-outline-danger" id="greet">click me</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>