<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/static/js/jquery-3.7.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/form.js}"></script>
</head>
<body>
    <div class="container">
        <div class="row text-center">
            <h1 class="h1">Reset data</h1>
        </div>
        <div class="container row justify-content-center">
            <div class="col-auto">
                <table class="table table-borderless table-responsive-sm">
                    <!-- Add respective field according to the thymeleaf declaration -->
                    <!-- <form action="#" th:action="@{'/user/'data.id'/reset'}" th:object="${data}" method="post">-->
                    <form action="#" th:action="@{/user/{userid}/reset(userid=${data.id})}" th:object="${data}" method="post">
                        <tr>
                            <div class="form-group">
                                <td>
                                    <label>Name : </label>
                                </td>
                                <td>
                                    <input type="text" th:value="${data.name}" disabled="true"><br>
                                    <!-- <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</td> -->
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <td>
                                    <label>Password : </label>
                                </td>
                                <td>
                                    <input type="password" th:field="*{password}" required autofocus tabindex="1"><br>
                                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <td>
                                    <label>Age : </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{age}" required tabindex="2" placeholder="18"><br>
                                    <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <td>
                                    <label>Phone number : </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{phoneNumber}" required tabindex="3"><br>
                                    <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</td>
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input class="col col-sm-12 btn btn-outline-primary" type="submit" value="submit" tabindex="4"><br>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a class="col col-sm-12 btn btn-outline-primary" th:href="@{/user/{id}(id=${data.id})}">Return</a><br>
                            </td>
                        </tr>
                    </form>
                </table>
            </div>
        </div>
    </div>
</body>
</html>